<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>

<body>
    <h3>Create a new chat</h3>
    <form method="post" action="/chats">
        <input placeholder="Sender" name="from" type="text"> <br> <br>
        <textarea name="message">Write your Message here</textarea><br><br>
        <input placeholder="Reciver" name="to" type="text"><br><br>
        <button>Submit</button>
    </form>

</body>

</html>